#goods-table{
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  color: rgb(28, 143, 137);
}
#goods-table-employee{
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  color: rgb(28, 143, 137);
}

#requests-table{
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  color: rgb(28, 143, 137);
}

th {
  border: 2px solid;
  border-collapse: collapse;
  height: 80px;
  position: relative;
}
#th-button{
  position: absolute;
  bottom: 0%;
  left: 0%;
}
td {
  border: 1px solid;
  border-collapse: collapse;
}
h1{
  color: rgb(28, 143, 137);
}
h2{
  color: rgb(28, 143, 137);
}